<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>219365098522-5p6n0v7dmticoohamhrjum2qkifse92v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.219365098522-5p6n0v7dmticoohamhrjum2qkifse92v</string>
	<key>API_KEY</key>
	<string>AIzaSyD3iMoRTJwoy3qk_vUcqZJh0FGQXmwGmIQ</string>
	<key>GCM_SENDER_ID</key>
	<string>219365098522</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.globalstripe.movieadmobapp</string>
	<key>PROJECT_ID</key>
	<string>livescores-c375c</string>
	<key>STORAGE_BUCKET</key>
	<string>livescores-c375c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:219365098522:ios:2de162b1ac9916aabbfda3</string>
	<key>DATABASE_URL</key>
	<string>https://livescores-c375c.firebaseio.com</string>
</dict>
</plist>